

.figure {
  margin: 0;
  padding: 2px 2px 0 2px;
  position: relative;
  background-color: black;

  img {
    width: 100%;
  }

  .figcaption {
    padding: .5rem 1rem;
    position: absolute;
    bottom: 20px; left: 20px;
    color: rgba(0,0,0,.4);
    background-color: rgba(255,255,255, 0.8);
    border-radius: 4px;
  }
}
